body {
	background-color: #ECEFF1; /*default website background color*/
	font-family: 'roboto condensed', sans-serif; /*website font*/
	color: #263238; /*default website text color*/
}

a {
	text-decoration: none;
	color: #263238; /*generally set link text color*/
}

#header {
	width: 48%; /*width of header*/
	height: auto; /*height of header*/
	margin: 0 auto; /*header margins*/
	box-shadow: 0px 0px 0px #ECEFF1; /*pre-set shadow values for shadow animation*/
	padding: 12px; /*general padding*/
	padding-left: 12px; /*further padding*/
	padding-right: 12px; /*further padding*/
	border-radius: 0px 0px 0px 0px; /*rounded corner radius*/
	transition: 0.333s; /*animation timing*/
	margin-top: -9px; /*pre-set animation values for animated margins*/
	margin-bottom: -9px; /*pre-set animation values for animated margins*/

}

#header:hover {
	background-color: #FFF; /*background color of header when fadin in*/
	box-shadow: 0px 0px 12px #FFF;
	border-radius: 96px; /*rounded corner radius*/
	margin-top: 0px;  /*post-animation values*/
	margin-bottom: 0px; /*post-animation values*/
}


#header img {
	width:100%;
	display:block;
	margin:auto;
	width: 66%;
	height: auto;
}

#content {
	background-color: #ECEFF1;
	box-shadow: 0px 0px 0px #1DE9B6;
	padding: 12px;
	padding-left: 12px;
	padding-right: 12px;
	margin-top: 12px;
	transition: 0.333s;
	margin-left:-8px;
	margin-right:-8px;
}

#content:hover {
	box-shadow: 0px 0px 24px #1DE9B6;
}




/* Add a black background color to the top navigation */
.topnav {
	overflow: hidden;
	float: center;
	border-radius: 12px;
	list-style-type: none;
	padding-top: 9px !important;
	text-align: center;
	padding-right: 42px;
}

/* Style the links inside the navigation bar */
.topnav li {
	float: center;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}


/* Style the links inside the navigation bar */
.topnav a {
	display: block;
	color: #263238;
	padding: 12px 14px;
	padding-top: 24px;
	text-decoration: none;
	font-size: 17px;
	transition: .333s;
	border-radius: 40px;
	width: 92px;
	height: 80px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #1DE9B6;
	background-size: 60px 60px;
	color: #263238;
	padding: 12px 24px;
	padding-top: 24px;
	border-radius: 6px;
	box-shadow: 0px 0px 12px #64FFDA;
}


/* change properties to put emphasis on selected page in navigation bar */
.active li{
	background-color: #CFD8DC !important;
	color: #1DE9B6;
	border-radius: 6px;
}

.active a:hover {
	border-radius: 12px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}


#main{
	padding: 12px;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}

#main img {
	width: 12.5%;
	margin-left: auto;
}

#main a {
	color: #00BFA5;
}

#main .picinfo {
	font-size: 13px;
	color: #607D8B;
	font-style: italic;
}

#main .tag {
	font-size: 11px;
	color: #B0BEC5;
	font-style: italic;
}

#footer{
	padding: 24px;
	text-align: center;
	clear: both;
	color: #263238;
}











