body {
	background: var(--bgcolor);
	font-family: var(--font);
	color: var(--text);
}

button:focus {
	outline: none !important;
}

.art {
	width: 90%;
	border-radius: 12px;
	box-shadow: var(--actionshadow);
}

#black {
	color: var(--ppcolor) !important;
}

#notplaying {
	padding: 4px;
	margin-top: 10%;
	outline: none;
	border: none;
	background: var(--none);
	color: var(--text) !important;
	z-index: 5;
	width: 100%;
	height: 256px;
	border-radius: 8px;
	cursor: default;
}

#playing {
	padding: 4px;
	margin-top: 0px;
	outline: none !important;
	border: none;
	background: var(--none);
	color: var(--text) !important;
	z-index: 5;
	width: 100%;
	height: 512px;
	border-radius: 8px;
	cursor: default;
	margin-bottom: 5%;
}


.pagetitle {
	position: fixed;
	text-align: center;
	bottom: 0;
	left: 5%;
	font-size: 150%;
}

.navigationbar {
	background: var(--primary);
	position: fixed ;
	z-index: 4;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 64px;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: var(--secondary);
}

.actionbutton {
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	position: fixed;
	outline: none !important;
	border: none;
	background: var(--secondary);
	color: var(--ppcolor) !important;
	z-index: 5;
	width: 64px;
	height: 64px;
	right: 32px;
	bottom: 32px;
	border-radius: 32px;
	box-shadow: var(--actionshadow);
	cursor: pointer;
	transition: 0.1s;
}

.actionbutton:focus {
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	outline: none !important;
}

.actionbutton:active {
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	outline: none !important;
	box-shadow: var(--actionshadow-raised);
	filter: brightness(110%);
}

.footer {
	color: var(--foot);
	font-size: 50%;
	text-align: center;
	top: 0;
}